<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <h2 class="space-between">
                    Пользователи
                </h2>                
                <%
                    users.forEach(item => {
                %> 
                <div class="main-card">
                    <div class="card-center">
                        <div class="space-between">
                            <a href="#">
                                <h3><%=item.full_name%></h3>
                            </a>
                            <div class="more">
                                <img src="/images/icons/more.png" alt="">
                                <div class="edit-remove-buttons flex-direction-column">
                                    <a href="/edit_user/<%=item._id%>">Редактировать</a> 
                                    <a href="" style="font-style: italic">Блокировать</a> 
                                    <a class="button-remove"  onclick="deleteUsers('<%=item.id%>' )">Удалить</a>
                                </div>                            
                            </div>    
                        </div>
                    </div>                        
                </div>                
                <%
                    })
                %>   

                <h2 class="space-between">
                    Комментарии
                </h2>                
                <%
                    rates.forEach(item => {
                %> 
                <div class="main-card">
                    <div class="card-center">
                        <div class="space-between">
                            <a href="#">
                                <h3><%=item.text%></h3>
                            </a>
                            <div class="more">
                                <img src="/images/icons/more.png" alt="">
                                <div class="edit-remove-buttons flex-direction-column">
                                    <a href="/edit_comment/<%=item._id%>">Редактировать</a> 
                                    <a class="button-remove"  onclick="deleteRates('<%=item._id%>' , '<%=item.authorId._id%>' )">Удалить</a>
                                </div>                            
                            </div>    
                        </div>
                    </div>                        
                </div>                
                <%
                    })
                %>         

                <h2 class="space-between">
                    Мои блоги
                    <button onclick="document.location='/new'" class="blue-button">
                        Новый блог
                    </button>
                </h2>
                <%
                    blogs.forEach(item => {
                %>                
                    <div class="main-card">
                        <div class="card-center">
                            <img src="<%=item.image%>" alt="">
                            <div class="space-between">
                                <a href="#">
                                    <h3><%=item.title%></h3>
                                </a>                                      
                            </div>
                            <p>
                                <%=item.description%>
                            </p>
                        </div>
                        <div class="main-bar">
                            <div>
                                <img src="/images/icons/calendar.svg" alt=""> 
                                26.06.2020
                            </div>
                            <div>
                                <img src="/images/icons/eye.svg" alt=""> 21
                            </div>
                            <div>
                                <img src="/images/icons/Shape.svg" alt=""> 4
                            </div>
                            <div>
                                <img src="/images/icons/category.svg" alt=""> <%=item.category.name%>
                            </div>
                            <div>
                                <img src="/images/icons/user.svg" alt=""> <%=item.author.full_name%>
                            </div>
                        </div>                     
                    </div>
                <%
                    })
                %>               
            </div>
            <div class="categories text-center">
                <div class="categories-shadow">
                    <img src="/images/avatar_f.png" alt="">
                    <h4><%=user.full_name%></h4>
                    <p>
                        В основном пишу про веб-разработку, на React&Redux
                    </p>
                    <p>285 постов за все время</p>
                    <p>
                        <button class="blue-button" >
                            Редактировать
                        </button> 
                    </p>
                    <p>
                        <button class="blue-button" onclick="document.location='/api/signout'">
                            Выход
                        </button> 
                    </p>
                </div>

            </div>
        </div>
    </div>
    <%- include('partials/scripts.ejs')%>
</body>
</html>