<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="main-content">              
                    <div class="main-card">
                        <div class="card-center">
                            <img src="<%=blog.image%>" alt=""><br>
                            <div class="main-bar">
                                <div>
                                    <img src="/images/icons/calendar.svg" alt=""> 
                                    26.06.2020
                                </div>
                                <div>
                                    <img src="/images/icons/eye.svg" alt=""> 21
                                </div>
                                <div>
                                    <img src="/images/icons/Shape.svg" alt=""> 4
                                </div>
                                <div>
                                    <img src="/images/icons/category.svg" alt=""> <%=blog.category.name%>
                                </div>
                                <div>
                                    <img src="/images/icons/user.svg" alt=""> <%=blog.author.full_name%>
                                </div>
                            </div>
                            <div class="space-between">
                                <a href="#">
                                    <h3><%=blog.title%></h3>
                                </a>
                                <%
                                    if(user.isAdmin){
                                %>                                
                                    <div class="more">
                                        <img src="/images/icons/more.png" alt="">
                                        <div class="edit-remove-buttons flex-direction-column">
                                            <a href="/edit/<%=blog._id%>">Редактировать</a> 
                                            <a class="button-remove"  onclick="deleteBlogs('<%=blog._id%>' , '<%=blog.author._id%>')">Удалить</a>
                                        </div>                            
                                    </div>   
                                <%
                                    }
                                %>                                 
                            </div>
                            <p>
                                <%=blog.description%>
                            </p>
                            <div class="comments">
                                <% if(user && user._id){%>
                                    <h4>2 комментария</h4>  
                                    <form class="add-comment-form" onsubmit="sendRate(event)"> 
                                       
                                        <%
                                            if(rates){   
                                                rates.forEach(rate => { 
                                        %>
                                                <div class="comment">
                                                    <h4>
                                                        <img src="/images/avatar_t.png" alt="">
                                                        <a href=""><%=rate.authorId.full_name%></a>
                                                    </h4>                                                   
                                                    <p><%=rate.text%></p>
                                                    <!-- Редактировать-удалить коменты -->
                                                </div>
                                        <%      })  
                                            }   
                                        %>  
                                        <!-- <h4>
                                            <img src="/images/avatar_t.png" alt="">
                                            Елнур Сеитжанов
                                        </h4>
                                        <p>
                                            В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.
                                        </p>                                                                               -->

                                        <textarea id="comment-text"></textarea>
                                        <input type="hidden" value="<%=user._id%>" id="comment_author">
                                        <input type="hidden" value="<%=blog._id%>" id="comment_blog">
                                        <button class="blue-button" type="submit">Сохранить</button> 
                                    </form>   
                                <%}else{%> 
                                    <div class="no-comment">
                                        Чтобы оставить комментарий <a href="/register" class="color-blue">зарегистрируйтесь</a> , или <a href="/login" class="color-blue">войдите в аккаунт</a> .
                                    </div>
                                <%
                                    }   
                                %>                                                       
                            </div>
                            <!-- <div class="comments">
                                <h4>2 комментария</h4>   
                                <h4>
                                    <img src="/images/avatar_t.png" alt="">
                                    Елнур Сеитжанов
                                </h4>
                                <p>
                                    В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.
                                </p>
                                <h4>
                                    <img src="/images/avatar_t.png" alt="">
                                    Елнур Сеитжанов
                                </h4>
                                <p>
                                    В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.
                                </p>
                            
                                <fieldset class="fieldset">
                                    <textarea class="textarea-comment" placeholder="Введите текст комментария"></textarea>
                                </fieldset>  <br>         
    
                                <button class="blue-button" type="submit">Отправить</button>
                            </div> -->
                        </div>
                    </div>             
            </div>
            <div class="categories">
                <div class="categories-shadow">
                    <h2>Категории</h2>
                    <% categories.forEach(categories => {%>    
                        <a href="/?category=<%=categories.key%>"><%=categories.name%></a>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/scripts.ejs')%>
</body>
</html>