<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <form action="/api/blogs/edit" method="POST" enctype="multipart/form-data" class="form">
                <h2>Редактировать блог</h2>
                <fieldset>
                    <input type="hidden" value="<%=blog._id%>" name="id">
                </fieldset>
                <fieldset class="fieldset">
                    <input type="text" value="<%=blog.title%>" placeholder="Введите заголовок блога" name="title"></fieldset>
                <fieldset class="fieldset">
                    <select name="category" id="">
                        <%
                            categories.forEach(category => {
                                if(category.id == blog.category){
                        %>  
                                <option value="<%=category._id%>" selected><%=category.name%></option>
                        <%    
                                }else{
                        %>                        
                                <option value="<%=category._id%>"><%=category.name%></option>
                        <%      
                                }
                            })
                        %>
                    </select>
                </fieldset>
                <fieldset class="fieldset">
                    <input  class="сhange-img" type="file" name="image">
                </fieldset>
                <fieldset class="fieldset">
                    <textarea placeholder="Введите описание блога" name="description"><%=blog.description%></textarea>
                </fieldset>    
                <fieldset  class="fieldset">
                    <button class="blue-button" type="submit">Сохранить</button>
                </fieldset>                
            </form>
        </div>
    </div>
    <%- include('partials/scripts.ejs')%>
</body>
</html>