<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <form action="/api/blogs/edit" method="POST" enctype="multipart/form-data" class="form">
                <h2>Редактировать комментарий</h2>
                <fieldset class="fieldset">
                    <textarea placeholder="Введите описание блога" name="description"><%=blog.description%></textarea>
                    <!-- <textarea placeholder="Введите описание блога" name="description"><%=rate.text%></textarea> -->
                </fieldset>    
                <fieldset  class="fieldset">
                    <button class="blue-button" type="submit">Сохранить</button>
                </fieldset>                
            </form>
        </div>
    </div>
    <%- include('partials/scripts.ejs')%>
</body>
</html>