<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <h2 class="space-between">
                    Блоги
                </h2>
                <%
                    if(user.toWatch.length > 0) { 
                        user.toWatch.forEach(blog => {
                %>                                
                <div class="main-card">
                    <div class="card-center">
                        <div>                                        
                            <div style="display: flex; align-items: center;">
                                <img src="/images/icons/saved.png" style="width: 25px; opacity: 0.6;" alt="">                                                                         
                                <a onclick="deleteFromToWatch('<%=blog._id%>')" style="cursor: pointer;">
                                    Сохранено
                                </a>                                      
                            </div>                            
                        </div>                         
                        <img src="<%=blog.image%>" alt="">
                        <div class="space-between">
                            <a href="#">
                                <h3><%=blog.title%></h3>
                            </a>
                        </div>
                        <p>
                            <%=blog.description%>
                        </p>
                    </div>
                    <div class="main-bar">
                        <div>
                            <img src="/images/icons/calendar.svg" alt=""> 
                            26.06.2020
                        </div>
                        <div>
                            <img src="/images/icons/eye.svg" alt=""> 21
                        </div>
                        <div>
                            <img src="/images/icons/Shape.svg" alt=""> 4
                        </div>
                        <div>
                            <img src="/images/icons/category.svg" alt=""> <%=blog.category.name%>
                        </div>
                        <div>
                            <img src="/images/icons/user.svg" alt=""> <%=blog.author.full_name%>
                        </div>
                    </div>
                </div>
                <%
                        })
                    }
                %>                
            </div>
            <div class="categories text-center">
                <div class="categories-shadow">
                    <img src="/images/avatar_f.png" alt="">
                    <h4><%=user.full_name%></h4>
                    <p>
                        В основном пишу про веб-разработку, на React&Redux
                    </p>
                    <p>285 постов за все время</p>
                    
                        <%
                            if(loginUser.id == user.id){
                        %>
                            <p>
                                <button class="blue-button" >
                                    Редактировать
                                </button> 
                            </p>
                            <p>
                                <button class="blue-button" onclick="document.location='/api/signout'">
                                    Выход
                                </button> 
                            </p>
                        <%
                            }
                         %>
                </div>

            </div>
        </div>
    </div>
    <%- include('partials/scripts.ejs')%>
</body>
</html>